.App {
  text-align: center;
}

.bg-light  {
  background-color: beige !important;
}

.navbar-brand {
  color: coral !important; 

}

.mainBg {
  min-height:500px;
  background: url(./img/bg.jpg) no-repeat;
  background-size: cover;
  /* background-position-y: -700px; */
  max-width: 100%;

}

p {
  color: #fff;
  font-size: 20px;

}

.p1 {
  padding-top: 45px;
  color:#666;
  font-size: 17px;
}

.hi {
  color:coral;
  padding-top: 200px;
}

.Button {
  background-color: beige !important;  
  border:none !important;
  color:coral !important;
  margin-top: 30px;
}

.Button:hover {
  background-color: coral !important;
  color:beige !important;
  border:none !important; 
}

.row {
  margin: 50px 0;
} 


.flowerImage {
  width: 250px;
  height: 300px;
  overflow:hidden;
}

.flowerImage img {
  width:100%;
}

/* .col-md-4:first-child .flowerImage img {
  position: absolute;
  right: 0;
  top:-49px;
} */

.col-md-4 {
  width:auto;
  padding-top:0;
  margin:0 auto;
  height:300px;
}

h4 {
  margin-top:5px;
  color:#555;
}

h5 {
  color:#555;
  font-weight: lighter;
  font-size: 15px;
}



.col-md-6>img {
  border: 5px solid coral;
}

.btn-danger {
  background-color: coral !important;
  color:beige !important;
  border:none !important; 
  border-color: coral !important;
  margin:10px;
}

.btn-primary {
  background-color: coral !important;
  color:beige !important;
  border:none !important; 
  border-color: coral !important;
  margin-bottom: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
